{% extends 'base.html' %}

{% block content %}
<h1>BLOG</h1>
<hr>

{% for blog in blogs %}
<div class="blog">
    <div class="blog-title">
        <h3><a href="/blog/{{blog.key().id()}}">{{blog.title}}</a></h3>
    </div>
    <p>{{blog.blog_post}}</p>
</div>
{% endfor %}
<nav>
    {% if page > 1 %}
    <a href='/blog?page={{page-1}}'>prev</a>
        {% if count > 0 %}
            &nbsp;&nbsp;|&nbsp;&nbsp;
        {% endif %}
    {% endif %}
    {% if count > 0 %}
    <a href='/blog?page={{page+1}}'>next</a>
    {% endif %}
</nav>
{% endblock %}
